.topo{
    justify-content: space-between;
    background-color: #25435B;
    height: 30px;
    color: white;
    font-weight: 700;
    margin-top: -5px;
}

.menu{
    justify-content: space-between;
}

.botao{
    text-align: center;
    font-size: 14px;
    color: #575757;
    width: 120;
    height: 70;
    margin: 3px;
}

.botao:hover{
    border: 3px solid #75ffcf;
    border-radius: 6px;
    margin: 0px;
}

.login{
    width: 100%;
    height: 435px;
    background-image: url(top_resultado_exame.png);
    
}

.login-painel{
    width: 350px;
    height: 260px;
    
    background-color: #007bff;
    filter:opacity(alpha=60);
    -moz-opacity:0.7;
    opacity:0.7;
    
    background-repeat: repeat;
        
    padding-top:5px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

.select2{
  
  padding: 5px;
  border-radius: 7px;
  width:250px;
  height:25px;
}

.login-form{
    display: flex;
    gap: 10px;
}

.login-form-select{
      border: 1px solid blue;
      padding: 5px;
      border-radius: 7px;
      width: 250px;
      height: 30px;
}

.col{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row ;
}

.center{
    text-align: center;
    align-items: center;
    justify-items: center;
}

.center-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer{
    background-color: #25435B;
    height: 160px;
}

.whatsapp {
    position: fixed;
    bottom: 0%;
    right: 0%;
    padding: 10px;
    z-index: 100;
}
.isso{
    align-items: center; 
}